@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap);
.app{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;

}
.padred{
    display:flex;
    width: 100%;
    height: 100%;
    background:#E0E1DD;
    justify-content:center;
    align-items: center;
}

.card{
    font-family: 'Averia Serif Libre', cursive;
    position: relative;
    width: 70%;
    background-color: #1b263b;
    display: flex;
    flex-direction:row;
    height: 500px;
    align-items:center;
    align-content: center;
    justify-content:center;
    border-radius: 15px;
    color: white;
}

.card::before{
    position: absolute;
    content: '';
    left:0;
    top: 0;
    height:100%;
    width: 100%;
    clip-path: circle(65% at right 35%);
    background-color:#415a77;
    z-index: 0;
    border-radius: 15px;
}

.info{
    width:50%;
    padding-right: 150px;
    text-align: justify;
    padding-left:25px;
}

.git{
    display:flex;
    text-align:center;
    justify-content:center;

}

.description{
    display: flex;
    flex-direction:column;
    width:50%;
    z-index: 1;
    margin-right: 15px;
}

.image{
    width: 100%;
    height: 300px;
    border-radius:15px;
}

.fa{
    font-size:40px;
    line-height:60px;
    transition: .7s;
}

.fa:hover{
    transform: translate(0, -10px);
}

.icons{
    margin-top: 20px;
    display: flex;
    justify-content:center;
}

.face, .insta, .link{
    margin-right: 15px;
}

a{
    color: white;
}

.arrowsec {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }

  .arrowsec path {
    stroke: #1b263b;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }

  @-webkit-keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }

  .arrowsec path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
  }

  .arrowsec path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
  }

  .arrowsec path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s;
  }
/**
 * Swiper 6.5.9
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 30, 2021
 */

@font-face{font-family:swiper-icons;src:url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA') format('woff');font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-container-pointer-events{touch-action:pan-y}.swiper-container-pointer-events.swiper-container-vertical{touch-action:pan-x}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}
.containerProjects{
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    background:#778DA9;
    align-content: center;
}

.swiper-container {
    width: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 80%;
  }

  .titleProject{
      color: white;
      text-align: center;
      font-family: 'Nunito';
      margin-bottom: 150px;
  }

  .descriptP{
      color: white;
      text-align: center;
      font-family: 'Averia Serif Libre', cursive;
  }
.containerSkills{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;
    flex-direction:column;
    background:#E0E1DD;
}

.cardSkills{
    position:relative;
    max-width:300px;
    height:100px;
    background:#1b263b;
    margin: 30px 10px;
    padding:20px 15px;
    display:flex;
    flex-direction:column;
    transition: 0.3s ease-in-out;
}

.cardSkills:hover{
    height:180px;
}

.tech{
    position:relative;
    width:260px;
    height:260px;
    top: -60px;
    left: 20px;
    z-index: 1;
}
.contenido{
    position:relative;
    padding: 10px 15px;
    text-align: center;
    color:white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.cardSkills:hover .contenido{
    visibility:visible;
    opacity:1;
    margin-top:-50px;
    transition-delay: 0.3s;
}
.tech img{
    max-width: 100%;
    border-radius: 4px;
}

.tech img{
    width:80px;
    height:80px;
}
.cards{
    font-family: 'Averia Serif Libre', cursive;
    position: relative;
    width: 300px;
    display: flex;
    flex-direction:row;
    height: 500px;
    align-items:center;
    align-content: center;
    justify-content:center;
    border-radius: 15px;
    color: white;
}

.mainc{
    position: relative;
    width:300px;
    height:300px;
}


.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.9s ease;


}

.faces{
    width: 100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
    color: white;
    text-align:center;
    background-image: url(7f8751632b42a9932c15acf0c6ded32e.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1b263b;
    border-radius: 15px;
}

.faces1{
    width: 100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
    color: white;
    text-align:center;
    background-image: url(a544fd8cf64d82898e91eb55312d3efc.png);
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-color: #1b263b;
    border-radius: 15px;
}
.faces2{
    width: 100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
    color: white;
    text-align:center;
    background-image: url(c6c367295c25464c2d943b99ef81a216.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1b263b;
    border-radius: 15px;
}

.faces3{
    width: 100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
    color: white;
    text-align:center;
    background-image: url(ce4354e50c542dfb1a52749dacd68f81.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1b263b;
    border-radius: 15px;
}
.back{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background:#415a77;
    color: white;
    transform:rotateY(180deg);
    border-radius: 15px;
}

.thecard:hover{
    transform:rotateY(180deg);
}

.skilltitle{
    font-family: 'Averia Serif Libre', cursive;
}
.title{
    color: white !important;
    text-align: center;
    font-family: 'Nunito';


}

.container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    z-index: 99999;
}

.perfil {
    display: flex;
    flex-direction: row;
    width:250px;
    height:250px;
    background-image: url(0cc79d904f3bd0d50b8db647bca07c69.JPG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50px;
    justify-content: center;
}

.app{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.typed{
    color: white;
    font-family: 'Nunito';
    font-size: 130px;
}

strong{
    color: rgb(153, 4, 4);
}

/*take from junjun codepen*/
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }

  .arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }

  @-webkit-keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }

  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
  }

  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
  }

  .arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s;
  }

  h1 span{
    font-family: 'Nunito';
    font-size: 100px;
    display: table-cell;
    animation: animate 2s linear infinite;
  }

  h1 span:nth-child(1){
    animation-delay:0s
  }
  h1 span:nth-child(2){
    animation-delay:0.25s
  }
  h1 span:nth-child(3){
    animation-delay:0.5s
  }
  h1 span:nth-child(4){
    animation-delay:0.75s
  }
  h1 span:nth-child(5){
    animation-delay:1s
  }
  h1 span:nth-child(6){
    animation-delay:1.25s
  }
  h1 span:nth-child(7){
    animation-delay:1.5s
  }

  @keyframes animate{
    0%,100%
    {
      color: #fff;
      filter: blur(2px);
      text-shadow: 0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff;
    }
    5%,95%
    {
      color: #111;
      filter: blur(0px);
      text-shadow: 0 0 10px none;
    }
  }
html,body{
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}

body {
    background: #1B263B;
}
