@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.title{
    color: white !important;
    text-align: center;
    font-family: 'Nunito';


}

.container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    z-index: 99999;
}

.perfil {
    display: flex;
    flex-direction: row;
    width:250px;
    height:250px;
    background-image: url('../components/App/perfil.JPG');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50px;
    justify-content: center;
}

.app{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.typed{
    color: white;
    font-family: 'Nunito';
    font-size: 130px;
}

strong{
    color: rgb(153, 4, 4);
}

/*take from junjun codepen*/
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }

  .arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }

  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }

  @-webkit-keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }

  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
  }

  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
  }

  .arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s;
  }

  h1 span{
    font-family: 'Nunito';
    font-size: 100px;
    display: table-cell;
    animation: animate 2s linear infinite;
  }

  h1 span:nth-child(1){
    animation-delay:0s
  }
  h1 span:nth-child(2){
    animation-delay:0.25s
  }
  h1 span:nth-child(3){
    animation-delay:0.5s
  }
  h1 span:nth-child(4){
    animation-delay:0.75s
  }
  h1 span:nth-child(5){
    animation-delay:1s
  }
  h1 span:nth-child(6){
    animation-delay:1.25s
  }
  h1 span:nth-child(7){
    animation-delay:1.5s
  }

  @keyframes animate{
    0%,100%
    {
      color: #fff;
      filter: blur(2px);
      text-shadow: 0 0 10px #a50c0c,
      0 0 20px #700808,
      0 0 40px #700808,
      0 0 80px #700808,
      0 0 120px #700808,
      0 0 200px #700808,
      0 0 300px #700808;
    }
    5%,95%
    {
      color: rgb(20, 20, 20);
      filter: blur(0px);
      text-shadow: 0 0 10px none;
    }
  }