@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');

.containerProjects{
    display:flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    background:#778DA9;
    align-content: center;
}


.t {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.t1 {
  border-width: 0 0 60px 60px;
  border-color: transparent transparent transparent #1b263b;
  left: 0;
  top: 0;
}

.t2 {
  border-width: 0 60px 60px 0;
  border-color: transparent #1b263b transparent transparent;
  right: 0;
  top: 0;
}

.t3 {
  border-width: 60px 60px 0 0;
  border-color: transparent #1b263b transparent transparent;
  right: 0;
  bottom: 0;
}

.t4 {
  border-width: 0 60px 60px 0px;
  border-color: transparent transparent #1b263b transparent;
  left: 0;
  bottom: 0;
}

.swiper-container {
    width: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 420px;
  }

  .swiper-slide img {
    border-radius:15px 15px 0 0;
    display: block;
    width: 100%;
    height: 80%;
  }

  .titleProject{
      color: white;
      text-align: center;
      font-family: 'Nunito';
      margin-bottom: 150px;
  }

  .descriptP{
      color: white;
      text-align: center;
      font-family: 'Biryani', sans-serif;
  }

  .sw1{
    border-radius: 15px;
    background-color:#1b263b;
  }

  .fa2{
    margin: -8px;
    font-size:30px;
    line-height:30px;
    transition: .7s;
}

.fa2:hover{
    transform: translate(0, -5px);
}

.icon-div{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}