@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

.containerSkills{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;
    flex-direction:column;
    background:#E0E1DD;
}



.t {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
  }

  .t1 {
    border-width: 0 0 60px 60px;
    border-color: transparent transparent transparent #1b263b;
    left: 0;
    top: 0;
  }

  .t2 {
    border-width: 0 60px 60px 0;
    border-color: transparent #1b263b transparent transparent;
    right: 0;
    top: 0;
  }

  .t3 {
    border-width: 60px 60px 0 0;
    border-color: transparent #1b263b transparent transparent;
    right: 0;
    bottom: 0;
  }

  .t4 {
    border-width: 0 60px 60px 0px;
    border-color: transparent transparent #1b263b transparent;
    left: 0;
    bottom: 0;
  }

.cardSkills{
    position:relative;
    max-width:300px;
    height:100px;
    background:#1b263b;
    margin: 30px 10px;
    padding:20px 15px;
    display:flex;
    flex-direction:column;
    transition: 0.3s ease-in-out;
}

.cardSkills:hover{
    height:180px;
}

.tech{
    position:relative;
    width:260px;
    height:260px;
    top: -60px;
    left: 20px;
    z-index: 1;
}
.contenido{
    position:relative;
    padding: 10px 15px;
    text-align: center;
    color:white;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.cardSkills:hover .contenido{
    visibility:visible;
    opacity:1;
    margin-top:-80px;
    transition-delay: 0.3s;
}
.tech img{
    max-width: 100%;
    border-radius: 4px;
}

.tech img{
    width:80px;
    height:80px;
}
.cards{
    font-family: 'Averia Serif Libre', cursive;
    position: relative;
    width: 300px;
    display: flex;
    flex-direction:row;
    height: 500px;
    align-items:center;
    align-content: center;
    justify-content:center;
    border-radius: 15px;
    color: white;
}

.mainc{
    position: relative;
    width:300px;
    height:300px;
}


.thecard{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.9s ease;


}

.faces{
    width: 100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
    color: white;
    text-align:center;
    background-image: url('../components/Skillls/javascript.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1b263b;
    border-radius: 15px;
}

.faces1{
    width: 100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
    color: white;
    text-align:center;
    background-image: url('../components/Skillls/react.png');
    background-repeat: no-repeat;
    background-size: 80% 100%;
    background-color: #1b263b;
    border-radius: 15px;
}
.faces2{
    width: 100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
    color: white;
    text-align:center;
    background-image: url('../components/Skillls/html.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1b263b;
    border-radius: 15px;
}

.faces3{
    width: 100%;
    height: 100%;
    position:absolute;
    backface-visibility: hidden;
    color: white;
    text-align:center;
    background-image: url('../components/Skillls/css.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #1b263b;
    border-radius: 15px;
}
.back{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background:#415a77;
    color: white;
    transform:rotateY(180deg);
    border-radius: 15px;
}

.thecard:hover{
    transform:rotateY(180deg);
}

.skilltitle{
    font-family: 'Averia Serif Libre', cursive;
    z-index: 1;
}